doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin 
        link(rel="stylesheet", href="/admin.css")
    body 
        header 
            a(href="/admin") Admin 
            a(href="/admin/users") Users 
        main
            h1 Welcome to Admin Page 
            ul 
                each val in anime  
                    li 
                        a(href="/admin/update/" + val._id)= val.name
            strong 
                a(href="/admin/add") Add Anime 