doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Catalogue
        link(rel="stylesheet", href="/catalogue.css")
    body 
        header 
            strong 
                p Anime Patterns
            a(href="/profile") Profile 
            a(href="/catalogue") Catalogue 
        h1 Anime Catalogue 
        ol 
            each val in anime
                li
                    a(href="/catalogue/" + val._id)  
                        img(src="/images/" + val.name + ".jpg")
                    br
                    a(href="/catalogue/" + val._id)= val.name  