ul {
    list-style: none;
    width: 100%;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    background-color: #f47521; 
    margin: 10px;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    transition: .5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    transform: scale(1.1, 1.1);
}

li > a {
    color: black;
    text-decoration: none;
    width: 80%;
    height: 60%;
    text-align: center;
}

img {
    height: 300px;
    margin-right: 50px;
}

#meta {
    height: auto;

    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    #meta {
        flex-wrap: wrap;
    }
}

#meta > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#meta > div h1 {
    font-size: 40px;
}

#meta > div p {
    font-size: 18px;
}

h1, h3, p {
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons {
    width: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    padding: 0% 20% 0% 20%;
}

@media (max-width: 600px) {
    main {
        padding: 0% 5% 0% 5%;
    }
}

header {
    width: 100%;
    background-color: #23252b;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header p, header a {
    margin: 20px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

header p {
    font-style: oblique;
    color: #f47521;
}

body {
    background-color: black;
    margin: 0px;
}

h1:hover, h3:hover, p:hover, a:hover {
    color: #f47521;
}

li > a:hover {
    color: black;
}