header {
    width: 100%;
    background-color: #23252b;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

header a, header p {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

header p {
    color: #f47521;
    font-style: oblique;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li > a {
    font-size: 20px;
}

main {
    padding: 0% 20% 0% 20%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px, 1fr;
    grid-column-gap: 40px;
}

@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

main > h1 {
    grid-column: 1/3;
    text-align: center;
    color: white;
}

main > div {
    background-color: #f47521;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main > div > h3 {
    font-size: 30px;
}

body {
    background-color: black;
    margin: 0%;
}

h1, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}

h1:hover, h3:hover, p:hover, a:hover {
    color: #f47521;
}

h3:hover, li > a:hover {
    color: black;
}